.cardMain {
    padding-bottom: 20px;
    &__wrapper {
        width: 750px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 750px;
        background: #FFFFFF;
        box-shadow: 0px 10px 10px rgba(5, 5, 6, 0.05);
        border-radius: 5px;
    }
    &__description {
        width: 710px;
        margin: 20px auto 20px auto;
    }
    &__status {
        display: grid;align-items: center;
        margin-bottom: 10px;
        span {
            width: 61px;
            height: 20px;
            background: #FFE9E9;
            border-radius: 5px;
            font-family: Graphik LC;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #BC0002;
            text-align: center;
        }
    }
    &__vacancy {
        display: grid;
        grid-template-columns: 565px 120px;
        column-gap: 25px;
        align-items: center;
        &-name {
            width: 565px;
            font-family: Graphik LC;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #212527;
        }
        &-logo {
            img {
                max-width: 120px;
                max-height: 60px;
            }
        }
    }
    &__salary {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(145px, auto));
        grid-template-rows: 20px;
        justify-content: start;
        &-rate {
            font-family: Graphik LC;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #212527;
        }
        &-descr {
            font-family: Graphik LC;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #687E88;
        }
    }
    &__address {
        margin-top: 10px;
        width: 710px;
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, auto));
        grid-template-rows: 20px;
        justify-content: start;
        align-items: center;
        &-company {
            font-family: Graphik LC;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #FF5252;
            margin-right: 20px;
        }
        &__city {
            font-family: Graphik LC;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #212527;
        }
    }
    &__badges {
        margin-top: 10px;
        width: 710px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(116px, auto));
        grid-template-rows: 30px;
        justify-content: start;
        column-gap: 10px;
        &-item {
            display: block;
            margin: 0 auto;
            border: 1px solid #C8D1D6;
            box-sizing: border-box;
            border-radius: 5px;
            span {
                margin: 5px 10px 5px 10px;
                font-family: Graphik LC;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #212527;
            }
        }
    }
    &__footer {
        &-btn {
            width: 710px;
            margin: 0 auto 10px auto;
            display: grid;
            grid-template-columns: 258px auto 102px;
            grid-template-rows: 40px;
        }
        &-people {
            width: 148px;
            height: 40px;
            margin-right: 20px;
            text-align: center;
            background-color: #fff;
            border: none;
            font-family: Graphik LC;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #FF5252;
            img {
                margin-right: 10px;
            }
        }
        &-favorites {
            background-color: #fff;
            border: none;
            margin-right: 10px;
            width: 40px;
            height: 40px;
        }
        &-bad {
            background-color: #fff;
            border: none;
            width: 40px;
            height: 40px;
        }
        &-time {
            font-family: Graphik LC;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #687E88;
            display: grid;
            text-align: center;
            align-items: center;
        }
    }
}